:root {
  --primary-clr: #28cb8b;
  --secondary-clr: #263238;
  --info: #2194f3;
  --black: #263238;
  --dark-grey: #4d4d4d;
  ---grey: #717171;
  --light-grey: #89939e;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #ffffff;
  --f-clr: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding-inline: 200px;
}
.wrapperInner {
  padding-inline: 300px;
}

header {
  background-color: var(--silver);
  padding-block: 18px;
}

header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .wrapper > nav > ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
header > .wrapper > .userManager {
  display: flex;
  gap: 24px;
}

header > .wrapper > .userManager > .login {
  color: #43a046;
  border: none;
  background-color: transparent;
}
header > .wrapper > .userManager > .signUp,
.heroBtn,
.learnMore,
.ctaBtn {
  color: var(--white);
  border: none;
  background-color: #43a046;
  padding: 12px 24px;
  border-radius: 6px;
}

/* hero section styling */

.hero {
  background-color: var(--silver);
}
.hero > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
}
.accent {
  color: #43a046;
}

.bigParagraph {
  color: #717171;
  font-size: 16px;
  margin-block: 24px;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

/* Customers Section Styling */

.customers {
  padding-block: 40px;
}
.customers > .wrapper {
  display: flex;
  gap: 40px;
  flex-direction: column;
  text-align: center;
}
.customers > .wrapper > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}
.customers > .wrapper > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.customers > .wrapper > .customersImages {
  display: flex;
  justify-content: space-between;
}

/* community section styling */
.community {
  padding-block: 24px;
}

.community > .wrapper {
  text-align: center;
}

.community > .wrapper > .sectionTitle > h2,
.secondHeader {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
  margin-bottom: 12px;
}
.community > .wrapper > .sectionTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.community > .wrapper > .sectionItems {
  display: flex;
  justify-content: space-around;
  /* gap: 40px; */
  margin-block: 24px;
  align-items: center;
}
.community > .wrapper > .sectionItems > .sectionItem {
  width: 244px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.community > .wrapper > .sectionItems > .sectionItem > img {
  width: 60px;
}
.community > .wrapper > .sectionItems > .sectionItem > h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #4d4d4d;
}
.smallParagraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}

/* Spending time section styling */
.spendTime {
  margin-block: 24px;
}

.spendTime > .wrapperInner {
  display: flex;
}

.spendTime > .wrapperInner > .spendTimeDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.spendTime > .wrapperInner > .spendTimeDetails > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}

/* Stats styling */
.stats {
  margin-block: 24px;
  background-color: var(--silver);
  padding-block: 50px;
}

.stats > .wrapperInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats > .wrapperInner > .statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.stats > .wrapperInner > .statistics > .statItem {
  display: flex;
  gap: 20px;
}

.stats > .wrapperInner > .statsText > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.stats > .wrapperInner > .statsText > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #18191f;
}
.stats > .wrapperInner > .statistics > .statItem > .statItemTitle > h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

/* design section styling */
.design {
  margin-block: 24px;
  padding-block: 50px;
}

.design > .wrapperInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design > .wrapperInner > .designText {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.design > .wrapperInner > .designText > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-decoration: underline;
  cursor: pointer;
  color: #4d4d4d;
}
.design > .wrapperInner > .designText > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
/* tesla section styling */
.tesla {
  margin-block: 24px;
  background-color: var(--silver);
  padding-block: 50px;
}
.tesla > .wrapperInner {
  display: flex;
  gap: 32px;
  font-family: inherit;
  margin-block: 24px;
  background-color: var(--silver);
  padding-block: 50px;
}
.tesla > .wrapperInner > .teslaTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tesla > .wrapperInner > .teslaTexts > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #717171;
}
.tesla > .wrapperInner > .teslaTexts > h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #4caf4f;
}
.tesla > .wrapperInner > .teslaTexts > h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #89939e;
}
.tesla > .wrapperInner > .teslaTexts > .teslaImages,
.tesla > .wrapperInner > .teslaTexts > .teslaImages > .imagesText {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
/* More Info Section Styling */
.moreInfo {
  margin-block: 24px;
  padding-block: 50px;
  text-align: center;
}

.moreInfo > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.moreInfo > .wrapper > .moreInfoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.moreInfo > .wrapper > .moreInfoTitle > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  cursor: pointer;
  color: #4d4d4d;
}
.moreInfo > .wrapper > .moreInfoTitle > p {
  width: 628px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}
.moreInfo > .wrapper > .pictureInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.moreInfo > .wrapper > .pictureInfo > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription {
  width: 317px;
  height: 176px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px #abbed166;
  background: #f5f7fa;
  position: absolute;
  bottom: -70px;
  border-radius: 8px;
  padding: 6px;
}

.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription > .readMore {
  display: flex;
  gap: 20px;
}
.moreInfo > .wrapper > .pictureInfo > .card > .cardDescription > h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #717171;
}

/* CTA Section Styling */
.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: 100px;
  padding-block: 54px;
  background-color: var(--silver);
}
.ctaBtn {
  margin-block: 24px;
}

/* footer styling */
footer {
  background-color: #263238;

  padding-block: 54px;
}

footer > .wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  color: var(--silver);
}

footer > .wrapper > .logoCorner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer > .wrapper > .logoCorner > .footer-texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer > .wrapper > .logoCorner > .footer-texts > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

footer > .wrapper > .footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

footer > .wrapper > .footer-items > .footer-item > h4 {
  margin-block-end: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

footer > .wrapper > .footer-items > .footer-item > ul {
  list-style: none;
  display: grid;
  gap: 12px;
}
footer > .wrapper > .footer-items > .footer-item > ul > li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--silver);
}
footer > .wrapper > .footer-items > .footer-item > .input {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 9px;
  border-radius: 6px;
}

footer > .wrapper > .footer-items > .footer-item > .input > input {
  background-color: transparent;
  border: none;
  outline: none;
}
footer > .wrapper > .footer-items > .footer-item > .input > input::placeholder {
  color: var(--white);
}
